.idea/.idea.ItzinRemastered/.idea/encodings.xml
.idea/.idea.ItzinRemastered/.idea/indexLayout.xml
bin/.DS_Store
bin/Debug/.DS_Store
bin/Debug/net8.0/ItzinRemastered
bin/Debug/net8.0/ItzinRemastered.deps.json
bin/Debug/net8.0/ItzinRemastered.dll
bin/Debug/net8.0/ItzinRemastered.pdb
bin/Debug/net8.0/ItzinRemastered.runtimeconfig.json
obj/.DS_Store
obj/ItzinRemastered.csproj.nuget.dgspec.json
obj/ItzinRemastered.csproj.nuget.g.props
obj/ItzinRemastered.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/project.packagespec.json
obj/rider.project.restore.info
obj/Debug/.DS_Store
obj/Debug/net8.0/.DS_Store
obj/Debug/net8.0/apphost
obj/Debug/net8.0/ItzinRemastered.AssemblyInfo.cs
obj/Debug/net8.0/ItzinRemastered.AssemblyInfoInputs.cache
obj/Debug/net8.0/ItzinRemastered.assets.cache
.idea/.idea.ItzinRemastered/.idea/.gitignore
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/ItzinRemastered.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/ItzinRemastered.csproj.FileListAbsolute.txt
obj/Debug/net8.0/ItzinRemastered.dll
obj/Debug/net8.0/ItzinRemastered.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/ItzinRemastered.genruntimeconfig.cache
obj/Debug/net8.0/ItzinRemastered.GlobalUsings.g.cs
obj/Debug/net8.0/ItzinRemastered.pdb
obj/Debug/net8.0/ref/ItzinRemastered.dll
obj/Debug/net8.0/refint/ItzinRemastered.dll
